<form ng-submit="signup()" name="registrationForm">
	<div class="form-group">
		<label for="username">Email:</label>
		<input type="email"
			   class="form-control" name="username"  id="username" ng-model="formData.username" required>
		<div ng-messages="registrationForm.username.$error">
			<p ng-message="email">Your email address is not valid</p>
			<p ng-message="required">Email is required.</p>
		</div>
	</div>

	<div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="pwd" ng-model="formData.password" required>
	</div>
	<div class="form-group">
		<label for="pwd_cntr">Confirm Password:</label>
		<input type="password" class="form-control" id="pwd_cntr" ng-model="formData.confirmPassword" required  required compare-to="formData.password">
	</div>
	<div class="form-group" style="padding: 1em 0">
		<button type="submit" ng-disabled="isSignUpDisabled" class="button">{{signUpButtonMessage}}</button>
	</div>
</form>